# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.venv/
venv/
.python-version

# Editors/IDE
.idea/
.vscode/

# Node (if used later)
node_modules/
dist/
build/

# Jekyll
_site/
.jekyll-cache/
vendor/
